<!DOCTYPE html>
<html>
<head>
	<title>Inscription élève</title>
</head>
<body>
		<div>
			<form>
				<table>
					<tr>
						<td>Nom : </td><td><input type="text" name="nom"></td>
						<td>Prénom :</td><td> <input type="text" name="prenom"></td>
					</tr>
					<tr>
						<td>Date de naissance :</td><td> <input type="date" name="dateNaissance"></td>
						<td>Lieu de naissance :</td><td> <input type="text" name="lieuNaissance"></td>
					</tr>
					<tr>
						<td>Téléphone :</td><td> <input type="text" name="telephone"></td>
						<td>E-mail :</td><td> <input type="text" name="email"></td>
					</tr>				
				</table>
                <input type="button" name="inscrire" value="s'inscrire">
                
			</form>
		</div>
</body>
</html>